i{
    display: block;
    color: rgb(143, 143, 143);
    font-size: 30px;
}

.card-footer{
    display: flex;
    justify-content: center;
    gap: 30px;
}

i:hover{
        color: rgb(4, 198, 4);
}

img{
   border-radius: 50%; 
}

.card{
    margin-bottom: 50px;
}